.top-page
  .application__title 
    OUR ALBUM

  - if user_signed_in?
    .welcome__message
      = "ようこそ! #{current_user.name}さん"
    .mypage
      = link_to users_path, class:"mypage__link" do
        %button.btn__mypage
          マイページにすすむ
    .logout
      = link_to destroy_user_session_path, method: :delete, class: "logout__link" do
        %button.btn__logout
          ログアウト
  - else
    .login
      = link_to new_user_session_path, class: "login__link" do
        %button.btn__login
          ログイン
    .registration
      = link_to new_user_registration_path, class: "registration__link" do
        %button.btn__new__registration
          新規アカウント登録