.new-group__title
  新規グループの作成

= form_for(@group) do |f|
  .new-group__form
    .new-group__form__name
      = f.text_field :name, placeholder: 'グループ名を記入してください', class: 'new-group__name'
    .new-group-form__field--left
      %label.new-group-form__label{:for => "new_group_グループメンバーを追加"} グループメンバーを追加
    .new-group-form__field--right
      .new-group-form__search.clearfix
        %input#user-search-field.new-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
      #user-search-result

  .new-group-form__field.clearfix
    .new-group-form__field--left
      %label.new-group-form__label{:for => "new_group_グループメンバー"} グループメンバー
    .new-group-form__field--right
      #new-group-users.js-add-user
        .new-group-user.clearfix.js-chat-member#chat-group-user-8
          %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
          %p.new-group-user__name= current_user.name
        - @group.users.each do |user|
          - if current_user.name != user.name
            .new-group-user.clearfix.js-new-member
              %input{name: "group[user_ids][]", type: "hidden", value: user.id}
              %p.new-group-user__name
                = user.name 
              %a.user-search-remove.new-group-user__btn.new-group-user__btn--remove.js-remove-btn
                削除
    .new-group__form__submit
      = f.submit value: '作成する', class: 'new-group__submit'
    .new-group__form__link
      = link_to users_path, class:"mypage_link" do
        マイページに戻る