.group-page
  Group page
.group-page__name
  Group name :
  = "#{@group.name}"
.group-page__member
  Member :
  - @group.users.each do |user|
    = user.name

.group__menu
  .edit__group
    = link_to edit_group_path, class: 'edit__group__link' do
      %button.btn__edit__group.solid
        グループを編集する
  .make__new-album
    = link_to new_group_album_path(@group), class: 'make__new-album__link' do
      %button.btn__make__new-album.solid
        新しいアルバムを作る
  .return__mypage
    = link_to users_path, class:"return__mypage__link" do
      %button.btn__return__mypage.solid
        マイページに戻る

.display__albums-header
  Album list
.albums-search
  = form_tag(search_group_path(@group, @serch_albums), :method => "get") do
    .albums-search__label
      登録したアルバムを検索する
    .albums-search__field
      = text_field_tag :search, params[:search], placeholder: "検索したいアルバムタイトルを入力してください", class: "albums-search"
      = submit_tag "検索", class: "search-btn solid"

.swiper-container
  - if @albums.present?
    .swiper-wrapper
      - @albums.each do |album|
        .swiper-slide
          = link_to group_album_path(@group, album.id) do
            = image_tag album.pictures[0].image.to_s, class: "img-zoom"
            .album__title
              = "タイトル：#{album.title}"
            .album__date
              = "日付：#{album.date}"
.swiper-pagination

.display__albums-inner
  - if @albums.present?
    - @albums.each do |album|
      .display__albums-content
        = link_to group_album_path(@group, album.id), class: "album-content" do
          .album__picture.hover-darken.inview
            = image_tag album.pictures[0].image.to_s, size: '270x200', class: "img-zoom"
          .album__title
            = "タイトル：#{album.title}"
          .album__date
            = "日付：#{album.date}"
  - else
    .display__albums-blank
      まだアルバムはありません
