.group-page
  = "#{@group.name}のページ"
.group-page__member
  Member :
  - @group.users.each do |user|
    = user.name

.group__menu
  .edit__group
    = link_to '#', class: 'edit__group__link' do
      グループを編集する
  .partition
    ｜
  .make__new-album
    = link_to new_group_album_path(@group), class: 'make__new-album__link' do
      新しいアルバムを作る
  .partition
    ｜
  .return__mypage
    = link_to users_path, class:"return__mypage__link" do
      マイページに戻る

.display__albums-header
  アルバム一覧
.display__albums-inner
  - if @albums.present?
    .display__albums-content
      - @albums.each do |album|
        = link_to group_album_path(@group, album.id) do
          = album.title
          = album.date
          = image_tag album.pictures[0].image.to_s, size: '220x150'
  - else
    .display__albums-blank
      まだアルバムはありません
