.user-mypage
  = "#{current_user.name}さんのページ"

.main__menu
  .main__menu__account
    = link_to user_path(current_user.id), class: 'check__account' do
      登録内容を確認する
  %p ｜
  .main__menu__group-make
    = link_to new_group_path, class: 'group__make' do
      グループを作る
  %p ｜
  .main__menu__logout
    = link_to destroy_user_session_path, method: :delete, class: 'logout__mypage' do
      ログアウト
.main-content
  アルバム一覧
  .album__display
    - current_user.groups.each do |group|
      %ul.group__list
        = link_to '#' do
          %li.group__list__name
            = group.name
          %li.group__list__image