.album__detail
  .album__title
    = "アルバムタイトル：#{@album.title}"
  .album__date
    = "日付：#{@album.date}"
  .album__pictures
    - objects = @album.pictures
    - objects.each do |object|
      .list
        = image_tag object.image.url, class: "list__size"
  .album__explanation
    アルバムへのコメント
    - if @album.content.present?
      .album__explanation__content
        = @album.content
    - else
      .album__explanation__blank
        コメントはありません。
.edit__album
  = link_to '#', class: 'edit__album__link' do
    アルバムを編集する
.return__group-page
  = link_to group_path(@group), class:"return__group-page__link" do
    グループページに戻る
