.album__menu
  .edit__album
    = link_to '#', class: 'edit__album__link' do
      %button.btn__edit__album{:type => "button"}
        アルバムを編集する
  .delete__album
    = link_to group_album_path(@album.id), class: "delete__album__link", method: :delete, data: {confirm: "本当に削除しますか？"} do
      %button.btn__delete__album{:type => "button"}
        アルバムを削除する
  .return__group-page
    = link_to group_path(@group), class:"return__group-page__link" do
      %button.btn__return__group-page{:type => "button"}
        グループページに戻る
.album__detail
  .album__title
    = "タイトル：#{@album.title}"
  .album__date
    = "日付：#{@album.date}"
  .album__pictures
    - objects = @album.pictures
    - objects.each do |object|
      .list
        = image_tag object.image.url, class: "list__size"
  .album__explanation
    コメント
    - if @album.content.present?
      .album__explanation__content
        = @album.content
    - else
      .album__explanation__blank
        コメントはありません。
