.registration-new__header
  ユーザー新規登録
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "users/shared/error_messages", resource: resource
  .registration__form
    .field
      = f.label :name
      %span.required
        必須
      %br/
      = f.text_field :name, autofocus: true, class: "registration__name"
    .field
      = f.label :email
      %span.required
        必須
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "registration__email"
    .field
      = f.label :password
      %span.required
        必須
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: "registration__password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "registration__password_confirmation"
    .actions
      = f.submit "登録する", class: "registration__submit"
  .various__links
    .login__link
      = link_to "登録済みユーザーでログイン", new_session_path(resource_name), class: "login"
    .break
      ｜
    .top-page__link
      = link_to "トップページに戻る", root_path, class: "top-page"
-# = render "users/shared/links"
